body{

    font-family: 'Forum', cursive;
    background-color: ffffff;
    font-size: 1.5rem;
    color:rgb(24, 21, 21);


}

.jumbotron{

    background: black;
    color:#ffffff;

}

 h2{
    color:black;
    font-style:italic;
    font-weight: 700;
    font-family: 'Palanquin Dark', sans-serif;
    text-align: center;
     
}

p{
    font-weight: 400;
    font-family: 'Bellefair', serif;
    text-align: center;
      
}

#IdBody{

    font-size: 1 rem;
    color: black;

}
#email{

    color: blue;
    font-style: italic;
    text-decoration-style: solid;
    text-align: center;
}

.navbar{

    background-color: black;
  

}




